@use "../abstracts/" as *;

.order {
  // overflow: hidden;
  .container {
    max-width: $width-sm;
    margin: 0 auto;
  }

  &__form {
    padding: 37px;
    background-color: $color-trasparent;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: relative;
    .MuiFormControl-root {
      background-color: $color-light-variant;
    }
  }

  /* MEDIA-QUERIES */
  @include display(tab-port) {
    &__form {
      justify-content: center;
    }
  }
  @include display(phone) {
    &__form {
      flex-direction: column;
      align-items: center;
      .MuiFormControl-root {
        width: 100%;
      }
      button {
        margin-top: 10px;
      }
    }
  }
  @include display(sm-phone) {
    &__form {
      padding: 17px;
    }
  }
}

.AnimatedEllipsis {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  &::after {
    display: inline-block;
    content: "...";
    animation: AnimatedEllipsis-keyframes 1.2s steps(4, jump-none) infinite;
  }
  @keyframes AnimatedEllipsis-keyframes {
    0% {
      transform: translateX(-100%);
    }
  }
}
