@use "../abstracts/" as *;

main {
  margin: 0 auto;
  padding-bottom: 20px;
}

section {
  min-height: calc(100vh - 149.96px);
  padding: 24px 0;
  padding-top: 110px;
  & > .title {
    max-width: $width-lg;
    margin: 0 auto;
    padding-bottom: 54px;
  }

  /* MEDIA-QUERIES */
  @include display(tab-port) {
    & > .title {
      max-width: $width-sm;
    }
  }
  @include display(phone) {
  }
}

section .container {
  max-width: $width-lg;
  margin: 0 auto;

  /* MEDIA-QUERIES */
  @include display(tab-port) {
    max-width: $width-sm;
  }
  @include display(phone) {
  }
}
