@use "../abstracts/" as *;

.nav {
  // background-color: antiquewhite;
  height: max-content;
  padding: 17px 0;
  // padding-top: 50px;
  backdrop-filter: blur(11px);
  position: fixed;
  width: 100%;
  z-index: 5;
  .container {
    max-width: $width-sm;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  /* MEDIA-QUERIES */
  @include display(phone) {
    &__list {
      gap: 25px;
    }
  }
}
