@use "../abstracts/" as *;

.hero {
  max-width: 50%;

  .title {
    h3 {
      margin-bottom: 30px;
    }
    h1 {
      margin-bottom: 50px;
    }
    h2 {
      margin-bottom: -35px;
    }
  }
  .container {
    // border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .destination {
    border: 1px solid #000;
    background-color: $color-light-variant;
    border: 3px solid $color-light;
    border-radius: 12px;
    padding: 10px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 64.02px 76.82px 80px rgba(0, 0, 0, 7%);

    &__img {
      // border: 1px solid #000;
      border-radius: 10px;
      overflow: hidden;
    }
    &__info {
      display: grid;
      gap: 4px;
      small {
        display: flex;
        gap: 10px;
      }
    }
  }

  /* MEDIA-QUERIES */
  @include display(tab-land) {
    max-width: 70%;
  }
  @include display(tab-port) {
    max-width: 100%;
  }
  @include display(phone) {
    .container {
      grid-template-columns: 1fr;
    }
  }
}
